ENV=dev
CDK_DEFAULT_REGION=ap-northeast-1
DOMAIN_NAME=shogi-dev.example.com
ACM_CERTIFICATE_ARN=arn:aws:acm:us-east-1:XXXXXXXXXXXX:certificate/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
HOSTED_ZONE_NAME=shogi-dev.example.com
COGNITO_AUTH_DOMAIN=auth.shogi-dev.example.com
COGNITO_CERTIFICATE_ARN=arn:aws:acm:us-east-1:XXXXXXXXXXXX:certificate/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
